<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>应用列表</h1>
    <table border="1">
        <thead>
            <th>应用名称</th>
            <th>包含的主机名</th>
        </thead>
        <tbody>
            {% for row in app_list %}
            <tr>
                <td>{{row.app_name }}</td>
                <td>
                    {% for host in row.r.all %}
                        {{ host.host_name }}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>